@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*----------------------------*/
body {
  font-family: 'Heebo', sans-serif;
}

[class*="__container"] {
  max-width: 886px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__container {
  max-width: 1064px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0 33px 0 0;
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.menu__link:hover {
  color: #FF6464;
}

.john {
  padding: 127px 0 82px 0;
}

@media (max-width: 768px) {
  .john {
    padding: 40px 0 52px 0;
  }
}

.john__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 762px) {
  .john__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.john__body {
  max-width: 506px;
  margin: 0 106px 0 0;
}

@media (max-width: 815px) {
  .john__body {
    margin: 0 50px 0 0;
  }
}

@media (max-width: 762px) {
  .john__body {
    margin: 40px 0 0 0;
    max-width: 100%;
  }
}

.john__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 136%;
  color: #21243D;
}

.john__title:not(:last-child) {
  margin: 0 0 40px 0;
}

@media (max-width: 762px) {
  .john__title:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 762px) {
  .john__title {
    font-size: 32px;
    text-align: center;
  }
}

.john__subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #21243D;
}

.john__subtitle:not(:last-child) {
  margin: 0 0 47px 0;
}

@media (max-width: 762px) {
  .john__subtitle:not(:last-child) {
    margin: 0 0 35px 0;
  }
}

.john__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #FFFFFF;
  background: #FF6464;
  border-radius: 2px;
  padding: 12px 20px;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

.john__btn:hover {
  background: #ff4747;
  padding: 14px 24px;
}

@media (max-width: 762px) {
  .john__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.john__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  position: relative;
  height: 243px;
  border-radius: 50%;
  -webkit-box-shadow: -5px 13px 0 0 #EDF7FA;
          box-shadow: -5px 13px 0 0 #EDF7FA;
}

.john__image img {
  max-width: 100%;
}

@media (max-width: 762px) {
  .john__image {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.posts {
  background: #EDF7FA;
  padding: 7px 0 15px 0;
}

.posts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__text {
  font-size: 22px;
  line-height: 273%;
  color: #21243D;
}

.posts__link {
  font-size: 16px;
  line-height: 150%;
  color: #00A8CC;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.posts__link:hover {
  color: #00d0ff;
}

.posts__columns {
  margin: 0 -10px;
}

@media (min-width: 768px) {
  .posts__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.posts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  margin: 0 0 17px 0;
}

.posts__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 22px 22px;
  height: 100%;
}

.posts__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 146%;
  color: #21243D;
}

.posts__title:not(:last-child) {
  margin: 0 0 17px 0;
}

@media (max-width: 768px) {
  .posts__title {
    font-size: 22px;
  }
}

.posts__date {
  font-size: 18px;
  line-height: 144%;
  color: #21243D;
}

.posts__date span {
  margin: 0 22px;
}

.posts__date:not(:last-child) {
  margin: 0 0 11px 0;
}

.posts__subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #21243D;
  max-width: 368px;
}

@media (max-width: 768px) {
  .posts__subtitle {
    max-width: 100%;
  }
}

.featured {
  padding: 15px 0 60px 0;
}

.featured__text {
  font-size: 22px;
  line-height: 273%;
  color: #21243D;
}

.featured__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
}

.featured__row:not(:last-child) {
  margin: 0 0 50px 0;
}

@media (max-width: 768px) {
  .featured__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.featured__image {
  margin: 0 18px 0 0;
}

@media (max-width: 768px) {
  .featured__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.featured__body {
  margin: 16px 0 0 0;
}

.featured__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 146%;
  color: #21243D;
}

@media (max-width: 768px) {
  .featured__title {
    font-size: 24px;
    line-height: 130%;
    margin: 0 0 16px 0;
  }
}

.featured__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 17px 0;
}

.featured__year {
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 0 36px 0 0;
  padding: 2px 12px;
  background: #142850;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .featured__year {
    font-size: 16px;
    line-height: 140%;
  }
}

.featured__category {
  font-size: 20px;
  line-height: 145%;
  color: #8695A4;
}

@media (max-width: 768px) {
  .featured__category {
    font-size: 16px;
    line-height: 140%;
  }
}

.featured__subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #21243D;
}

.footer {
  padding: 50px 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 17px 0;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__icon:not(:last-child) {
  margin: 0 35px 0 0;
}
